@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

img {
    max-height: 480px;
}

.meme {
    max-width: 400px;
    margin: 0 auto;
}

.signature {
    text-align: right;
    font-family: monospace;
}

.bmc-block {
    padding: 6px 0;
    .bmc-greeting {
        font-size: 14px;
        line-height: 37px;
    }
}
